<footer class="footer fixed-bottom bg-dark-subtle py-2">
    <div class="container text-center flex-grow-1 d-flex flex-column">
        <span class="text-muted mb-auto">&copy; Copyright {{ "now"|date('Y') }}  All rights reserved Car4Sure</span>
        <span class="text-muted mb-auto">Developped by GOOLAM HOSSEN Nadeem</span>
    </div>
</footer>